.baloon {
    display: none;
    width: 500px;
    border: solid 1px green;
    position: absolute;
    background-color: white;
}

.baloonLink {
    text-decoration: none;
    border-bottom: 1px dashed #000080;
    cursor: pointer;
}