.baloon {
    display: none;
    width: 500px;
    border: solid 1px green;
    position: absolute;
    background-color: white;
}

.baloonLink {
    text-decoration: none;
    border-bottom: 1px dashed #000080;
    cursor: pointer;
}
#ton {
    //margin-top: 50px;
}
.Less {
    border: 3px black dotted;
    width: 200px;
    height: 100px;
}