
h1 {
    text-decoration: underline;
}

.k {
    border: 4px blue inset;
    margin-left: 30px;
    width: 300px;
    margin-top: 300px;
    position: relative;
}
#a {
    padding-left: 40px;
}
#e {
    padding-bottom: 30px;
    padding-left: 60px; 
}